{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Resource": "*",
      "Action": [
        "eks:ListTagsForResource",
        "inspector2:ListFindings"
        ]
    }
  ]
}
